.btn {
  background-color: initial;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  transition: .4s ease-in-out;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:disabled {
    pointer-events: none;
    background-color: transparent;
  }
}
%btn-pri-auto {
  @include pxRem(font-size, 14);
  @include pxRem(padding, 11 38);
  @include pxRem(line-height, 24);
  font-weight: 400;
  text-transform: uppercase;
}
.btn-primary {
  @extend %btn-pri-auto;
  background-color: map-get($colors, primary);
  color: map-get($colors, #ffffff);
  border: 2px solid map-get($colors, primary);
  &:hover {
    background-color: inherit;
    color: map-get($colors, primary);
  }
}
.btn-action {
  @include pxRem(padding, 10);
  @include pxRem(width, 40);
  @include pxRem(height, 40);
  @include pxRem(font-size, 15);
  background-color: map-get($colors, txt-black);
  color: map-get($colors, white);
  font-weight: 300;
}
.btn-second {
  @extend %btn-pri-auto;
  color: map-get($colors, txt-bold);
  font-weight: 500;
  border: 2px solid map-get($colors, border-gray-light);
  &:hover {
    color: map-get($colors, white);
    background-color: map-get($colors, primary);
    border: 2px solid map-get($colors, primary);
  }
}
.btn-readmore {
  @include pxRem(font-size, 16);
  color: map-get($colors, white);
  align-items: center;
  font-weight: bold;
  i {
    @include pxRem(font-size, 16);
    @include pxRem(margin-left, 10);
  }
  &:hover {
    color: map-get($colors, primary);
  }
}
.btn-dot {
  @include pxRem(width, 10);
  @include pxRem(height, 10);
  background-color: map-get($colors, white);
  border-radius: 50%;
  border: 1px solid map-get($colors, primary);
}
