.page-header {
  .header-top {
    .top-left {
      @include pxRem(font-size, 16);
      @include pxRem(padding, 14 0);
      color: map-get($colors, txt-gray2);
      font-weight: 300;
    }
    .top-right {
      .icon-item {
        @include pxRem(padding, 0 12);
        color: map-get($colors, txt-gray2);
        &:hover {
          color: map-get($colors, primary);
        }
      }
    }
    .header-link {
      color: map-get($colors, primary);
    }
  }
  .header-middle {
    .header-wrapper {
      @include pxRem(padding-right, 30);
      border: 1px solid map-get($colors, border-gray1);
    }
    .img-logo {
      @include pxRem(padding, 20);
    }
  }
  .header-navbar {
    .btn-primary {
      @include pxRem(padding, 10 30);
      border: none;
      line-height: 1;
      &:hover {
        background-color: map-get($colors, primary);
        color: map-get($colors, white);
      }
    }
  }
  .middle-list {
    .middle-item {
      @include pxRem(margin-left, 20);
      img {
        @include pxRem(width, 35);
        @include pxRem(height, 30);
        @include pxRem(margin-right, 10);
      }
    }
    .middle-content {
      h5 {
        @include pxRem(font-size, 16);
        @include pxRem(margin-bottom, 5);
        font-weight: 600;
        color: map-get($colors, txt-black2);
      }
      span {
        @include pxRem(font-size, 16);
        @include pxRem(margin-bottom, 3);
        color: map-get($colors, txt-gray3);
        font-weight: 300;
      }
    }
  }
}

@include respond-below(large) {
  .page-header {
    .header-middle {
      padding: 0;
      .header-wrapper {
        flex-direction: column;
      }
    }
    .middle-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .middle-item {
        @include pxRem(margin, 0 0 20);
        justify-content: center;
        width: 50%;
        &:first-child {
          border-right: 1px solid map-get($colors, border-gray-light);
        }
      }
    }
  }
}
@include respond-below(large) {
  .page-header {
    .middle-list {
      .middle-item {
        @include pxRem(margin-bottom, 20);
        width: 100%;
        flex-direction: column;
        &:first-child {
          border-right: none;
        }
        img {
          margin: 0 auto;
        }
        .middle-content {
          @include pxRem(margin-top, 10);
          text-align: center;
        }
      }
    }
    .header-middle {
      .header-wrapper {
        border-left: none;
        border-right: none;
        padding: 0;
      }
    }
  }
}

@include respond-below(medium) {
  .page-header {
    .header-top {
      .flex-between {
        flex-wrap: wrap;
      }
      .top-left, .top-right {
        margin: 0 auto;
      }
      .top-right {
        @include pxRem(padding-bottom, 20);
      }
    }
  }
}
